@media screen and (max-width: 1400px) {

  .container {
      max-width: calc(100% - 300px);
      /* background-color: red ; */
  }
}

@media screen and (max-width: 1200px) {
  .grid {
      gap: 20px;
      /* background-color: red; */
  }

  .home__data {
      padding-right: 40px;
  }

  .home__title {
      font-size: var(--big-font-size);
  }

  .home__description {
      font-size: var(--small-font-size);
  }

  /* .stats__title {
      padding-left: 35px;
      color: red !important;
      background-color: green !important;
  }  */

  .progress__circle {
      /* background-color: red !important; */
      width: 100px;
      height: 100px;
  }

  .skills__container {
      /* background-color: red; */
      row-gap: 37px;
  }

  /* .skills__title{
      background-color: green !important;
      margin-top: 20px;
  }  */
  .resume__icon {
      width: 36px;
      height: 36px;
      line-height: 38px;
      /* background-color: red; */
  }

  /* .resume__item{
      padding-left: 55px; 
       background-color: red;
  } */
  .portfolio__modal-content {
      /* background-color: red ; */
      max-width: 600px;
  }

  /* .modal__close{
      width: 40px;
      height: 40px;
      background-color: red;
  } */

  .form__input-group {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
      /* background-color: red; */
  }

  .form__input-group .form__input-div:last-child {
      grid-column: 1/-1;
  }

  .form__input-div {
      /* background-color: red; */
      /* margin-bottom: 24px; */
  }
}

@media screen and (max-width: 1024px) {
  .container {
      max-width: 720px;
  }

  .home {
      padding: 20px;
      grid-template-columns: 7fr 5fr;
  }

  .home__data {
      padding-right: 0;
  }

  .section {
      /* background-color: red; */
      padding-block: 50px;
  }

  .section__title {
      /* background-color: red; */
      margin-bottom: 40px;
  }

  .about__container,
  .resume__container,
  .contact__container {
      /* background-color: red; */
      grid-template-columns: 1fr;
  }

  .subtitle__center {
      /* background-color: red; */
      margin-bottom: 45px;
  }

  .skills__container {
      /* background-color: red; */
      grid-template-columns: repeat(3, 1fr);
  }

  .resume__container {
      /* background-color: red; */
      row-gap: 45px;
  }

  .resume__item:not(:last-child) {
      /* background-color: aqua; */
      margin-bottom: 45px;
  }

  /* .separator {
      margin: 65px auto 50px;
      background-color: red;
  } */
  .portfolio__container {
      /* background-color: red; */
      grid-template-columns: repeat(2, 1fr);
  }

  .contact__container {
      row-gap: 48px;
  }
  
  .home__img {
      /* border-radius: 10px; */
      animation: none;
      width: 300px;
      height: 360px;
      /* margin-top: auto; */
      background-color: red;

  }
  .skills__container {
      /* background-color: red; */
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
  }

}

@media screen and (max-width:768px) {
  .home {
      grid-template-columns: 1fr;
      justify-content: center;
      row-gap: 1px;
      /* display: flex;
      flex-direction: column-reverse; */
  }

  .color__block {
      display: none;
      /* background-color: red !important; */
  }

  .homesection {
      display: flex;
      flex-direction: column-reverse;
  }

  .home__img {
      border-radius: 10px;
      animation: none;
      width: 190px;
      height: 190px;
      border-radius: 50%;
      margin-top: auto;
      /* background-color: red; */

  }

  .home__content {
      /* background-color: red; */
      max-width: 500px;
      text-align: center;
      margin-bottom: auto;
  }

  .home__title {
      padding-left: 0;
  }

  .home__title::before {
      all: unset;
  }
  .home__title span{
      /* background-color: red; */
      display: block;
  }
  .container{
      /* background-color: red; */
      max-width: 540px;
  }

  .portfolio__modal-content{
      /* background-color: red; */
      padding: 20px 25px;
  }
  .modal__close{
      /* background-color: red; */
      top: -9%;
      right: 0;
      padding: 12px;
  }
  .home__title {
      padding: 0px 0px 3px 0px;
  }
  .home__data {
      padding-top: 5px;
  }
  .social-media{
      margin: auto;
  }
  .button {
      padding: 8px 65px 7px 35px;
      margin-top: 9px;
  }
  .button__icon {
      width: 42px;
      line-height: 51px;
  }
  .skills__container {
      /* background-color: red; */
      place-items: center;
  }

}

@media screen and (max-width:576px) {
  .nav__toggle{
      top: 20px;
      right: 15px;
  }
  .nav__link{
      column-gap: 20px;
  }
  .nav__name,
  .nav__icon{
      font-size: var(--h2-font-size);
      /* background-color: red; */
  }
  .skills__container{
      /* background-color: red; */
      grid-template-columns: repeat(2,1fr);
  }
  .portfolio__container{
      grid-template-columns: 1fr;
  }
  .modal__list{
      /* background-color: red; */
      grid-template-columns: 1fr;
  }
  .modal__img{
      height: 200px;
  }
  .form__input-group{
      /* background-color: red; */
      grid-template-columns: 1fr;
  }
  .theme__img{
      /* background-color: red; */
      width: 25px;
  }
  .style__switcher-toggler,
  .theme__toggler{
      width: 40px;
      height: 40px;
      /* background-color: red; */
  }
  .style__switcher-toggler{
      top: 15%;
      /* background: red; */
  }
  .theme__toggler{
      bottom: 15%;
  }
  .style__switcher-close{
      top: 5%;
      /* background-color: red; */
  }

}

@media screen and (max-width: 450px) {
  .home__img {
      display: none ;
      background-color: red;
  }
  /* .home__content{
      background-color: red;
      text-align: left;
  } */
  .home__title {
      font-size: var(--h1-font-size);
  }
  .home__description {
      text-align: justify;
  }
  .info__title {
      display: block;
      margin-bottom: 4px;
  }
  .stats__box {
      padding: 15px 15px 25px 20px;
  }

}